<!DOCTYPE html>
<html lang="en">
  <head>
	<title>Form</title>
  </head>
  <body style=style="text-align: center;">
	     <h1>This is a secret page for logged in users</h1><br><br>

	     
         <a href="/logout">Logout</a>

  </body>
</html>